.zero,
body {
  padding: 0;
  margin: 0;
}
.container {
  min-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}
@font-face {
  font-family: GilroyExtraBold;
  src: url("../../src/fonts/web/gilroyextrabold.woff");
  src: url("../../src/fonts/web/gilroyextrabold.woff2");
}
@font-face {
  font-family: Gilroy;
  src: url("../../src/fonts/web/gilroylight.woff");
  src: url("../../src/fonts/web/gilroylight.woff2");
}
body {
  min-width: 1160px;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.page__logo {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  cutsor: none;
}
.page__logo_yellow {
  color: #ffc600;
}
.p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.p:hover,
.pfocus {
  color: rgba(0,0,0,0.6);
}
.p:active {
  color: rgba(0,0,0,0.3);
}
.link {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.link:hover,
.linkfocus {
  color: rgba(0,0,0,0.6);
}
.link:active {
  color: rgba(0,0,0,0.3);
}
.link_bold {
  color: #000;
  letter-spacing: 3.6px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.link_bold:hover,
.link_boldfocus {
  opacity: 0.6;
}
.link_bold:active {
  opacity: 0.3;
}
.header {
  padding: 45px 60px 160px 60px;
  display: flex;
  justify-content: space-between;
  background-color: #f7e296;
  margin-top: 40px;
  position: relative;
  min-height: 300px;
}
.page__logo {
  position: absolute;
  top: -24px;
  letter-spacing: 0.3px;
}
.page__nav {
  display: flex;
  flex-direction: column;
}
.page__search {
  box-sizing: border-box;
  margin-top: -8px;
  padding: 0px 0px 8px 40px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 0px;
  height: 50px;
}
.page__search::placeholder {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0,0,0,0.3);
}
.page__search::placeholder:hover,
.page__search::placeholderfocus {
  color: rgba(0,0,0,0.6);
}
.page__search::placeholder:active {
  color: rgba(0,0,0,0.3);
}
.page__search:hover::placeholder {
  color: rgba(0,0,0,0.6);
}
.page__search:focus {
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
  outline: none;
}
.page__search:focus::placeholder {
  color: #000;
}
.page__search-button {
  display: none;
}
.page__search-button:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.page__search-button:active {
  color: rgba(255,255,255,0.3) !important;
}
.page__search:focus + .page__search-button,
.page__search-button:active {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  display: block;
  border: 2px solid #000;
  background-color: transparent;
  padding: 8px 20px;
  margin-top: -10px;
}
.page__search:focus + .page__search-button:hover,
.page__search-button:active:hover,
.page__search:focus + .page__search-buttonfocus,
.page__search-button:activefocus {
  color: rgba(0,0,0,0.6);
}
.page__search:focus + .page__search-button:active,
.page__search-button:active:active {
  color: rgba(0,0,0,0.3);
}
.header__form {
  display: flex;
}
.catalog__title {
  margin-top: 25px;
  text-transform: uppercase;
}
.catalog-ul {
  display: none;
  list-style: none;
}
.user__nav {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.user__nav_rows {
  display: flex;
  justify-content: flex-start;
}
.user__nav_rows_end {
  margin-bottom: 40px;
  justify-content: flex-end;
  margin-top: -3px;
}
.user__nav_rows_end a {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.user__nav_rows_end a:hover,
.user__nav_rows_end afocus {
  color: rgba(0,0,0,0.6);
}
.user__nav_rows_end a:active {
  color: rgba(0,0,0,0.3);
}
.link__sign-in {
  margin-right: 237px;
}
.link__compare {
  margin-right: 58px;
}
.link__cart {
  margin-right: 1px;
}
.user__nav__link {
  color: #000;
  letter-spacing: 3.6px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.user__nav__link:hover,
.user__nav__linkfocus {
  opacity: 0.6;
}
.user__nav__link:active {
  opacity: 0.3;
}
.user__nav__link:first-child {
  margin-right: 36px;
}
.user__nav__link:nth-child(2) {
  margin-right: 105px;
}
