.zero,
body {
  padding: 0;
  margin: 0;
}
.container {
  min-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.nothing {
  padding: 0;
  margin: 0;
  list-style: none;
}
@font-face {
  font-family: GilroyExtraBold;
  src: url("../../src/fonts/web/gilroyextrabold.woff");
  src: url("../../src/fonts/web/gilroyextrabold.woff2");
}
@font-face {
  font-family: Gilroy;
  src: url("../../src/fonts/web/gilroylight.woff");
  src: url("../../src/fonts/web/gilroylight.woff2");
}
body {
  min-width: 1160px;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.page__logo {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  cutsor: none;
}
.page__logo_yellow {
  color: #ffc600;
}
.p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.link {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.link:hover,
.linkfocus {
  color: rgba(0,0,0,0.6);
}
.link:active {
  color: rgba(0,0,0,0.3);
}
.link_bold {
  color: #000;
  letter-spacing: 3.6px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.link_bold:hover,
.link_boldfocus {
  opacity: 0.6;
}
.link_bold:active {
  opacity: 0.3;
}
.h2 {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
/* Text style for "Д, оставка" */
  letter-spacing: 0.85px;
}
.button {
  color: #000;
  letter-spacing: 2.15px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  margin-top: 40px;
  z-index: 2;
}
.button::before {
  content: ' ';
  transition: 0.5s;
  position: absolute;
  width: 160%;
  height: 8px;
  background-color: #ffc600;
  z-index: -1;
  top: 9px;
  left: -30%;
}
.button:hover::before,
.button:focus::before {
  transform: scaleY(4);
}
.button:active {
  color: rgba(0,0,0,0.6);
}
.header {
  padding: 45px 60px 160px 60px;
  display: flex;
  justify-content: space-between;
  background-color: #f7e296;
  margin-top: 40px;
  position: relative;
  min-height: 298px;
}
.page__logo {
  position: absolute;
  top: -24px;
  letter-spacing: 0.3px;
}
.page__nav {
  display: flex;
  flex-direction: column;
}
.page__search {
  box-sizing: border-box;
  margin-top: -8px;
  padding: 0px 0px 8px 40px;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  background-color: transparent;
  border: 0px;
  height: 50px;
  position: relative;
}
.page__search::placeholder {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0,0,0,0.3);
}
.page__search::placeholder:hover,
.page__search::placeholderfocus {
  color: rgba(0,0,0,0.6);
}
.page__search::placeholder:active {
  color: rgba(0,0,0,0.3);
}
.page__search:hover::placeholder {
  color: rgba(0,0,0,0.6);
}
.page__search:focus {
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
  outline: none;
}
.page__search:focus::placeholder {
  color: #000;
}
.page__search-button {
  display: none;
}
.page__search-button:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.page__search-button:active {
  color: rgba(255,255,255,0.3) !important;
}
.page__search:focus + .page__search-button,
.page__search-button:active {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  display: block;
  border: 2px solid #000;
  background-color: transparent;
  padding: 8px 20px;
  margin-top: -10px;
}
.page__search:focus + .page__search-button:hover,
.page__search-button:active:hover,
.page__search:focus + .page__search-buttonfocus,
.page__search-button:activefocus {
  color: rgba(0,0,0,0.6);
}
.page__search:focus + .page__search-button:active,
.page__search-button:active:active {
  color: rgba(0,0,0,0.3);
}
.header__form::before {
  content: url("../../src/svg/search.svg");
  position: absolute;
  top: 51px;
  left: 63px;
  display: block;
  cursor: pointer;
}
.header__form {
  display: flex;
}
.catalog__title {
  margin-top: 25px;
  text-transform: uppercase;
  position: relative;
}
.catalog__title::before {
  content: url("../../src/svg/plus.svg");
  position: absolute;
  top: 2px;
  right: -27px;
  opacity: 0.6;
}
.catalog-ul {
  padding: 0;
  flex-wrap: wrap;
  width: 615px;
  list-style: none;
  position: absolute;
  background-color: #f7e296;
  z-index: 200;
  top: 178px;
  left: 0;
  padding-bottom: 32px;
  padding-right: 485px;
  margin-top: 0;
  padding-left: 59px;
  box-shadow: 5px 165px 153px -51px;
  display: none;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.01s;
}
.catalog-ul_enabled {
  transition: 0.5s;
  transition-delay: 0.01s;
  display: flex;
  opacity: 1;
}
.catalog-ul__item {
  margin-right: 60px;
}
.catalog-ul__item_wrap {
  margin-right: 134px;
  margin-left: 29px;
}
.user__nav {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.user__nav_rows {
  display: flex;
  justify-content: flex-start;
}
.user__nav_rows_end {
  margin-bottom: 40px;
  justify-content: flex-end;
  margin-top: -3px;
}
.user__nav_rows_end a {
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}
.user__nav_rows_end a:hover,
.user__nav_rows_end afocus {
  color: rgba(0,0,0,0.6);
}
.user__nav_rows_end a:active {
  color: rgba(0,0,0,0.3);
}
.link__user {
  position: relative;
  margin-right: 237px;
}
.link__user:hover,
.link__user:focus {
  opacity: 0.6;
}
.link__user:active {
  opacity: 0.3;
}
.link__compare {
  position: relative;
  margin-right: 58px;
}
.link__compare:hover,
.link__compare:focus {
  opacity: 0.6;
}
.link__compare:active {
  opacity: 0.3;
}
.link__cart {
  position: relative;
  margin-right: 1px;
}
.link__cart:hover,
.link__cart:focus {
  opacity: 0.6;
}
.link__cart:active {
  opacity: 0.3;
}
.user__nav__link {
  color: #000;
  letter-spacing: 3.6px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.user__nav__link:hover,
.user__nav__linkfocus {
  opacity: 0.6;
}
.user__nav__link:active {
  opacity: 0.3;
}
.user__nav__link:first-child {
  margin-right: 36px;
}
.user__nav__link:nth-child(2) {
  margin-right: 105px;
}
.link__user::before {
  content: url("../../src/svg/user.svg");
  position: absolute;
  display: block;
  top: 1px;
  left: -23px;
}
.link__compare::before {
  content: url("../../src/svg/compare.svg");
  position: absolute;
  display: block;
  top: 1px;
  left: -23px;
}
.link__cart::before {
  content: url("../../src/svg/cart.svg");
  position: absolute;
  display: block;
  top: 1px;
  left: -23px;
}
.page__main {
  position: relative;
}
.slider {
  display: flex;
  overflow: hidden;
  max-width: 1080px;
  flex-shrink: 0;
  position: absolute;
  top: -110px;
}
.slider::before {
  content: ' ';
  position: absolute;
  top: 37px;
  right: 460px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}
.slider_inner {
  min-height: 400px;
  position: relative;
}
.slider::after {
  content: '01';
  position: absolute;
  right: 47px;
  top: -14px;
  color: #fff;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 179px;
  font-weight: 400;
  line-height: 179.2px;
  letter-spacing: 0.36px;
}
.slider__element {
  display: none;
  z-index: 25;
  justify-content: space-between;
}
.slider__element-1 {
  width: 1080px;
}
.slider__element-1 img {
  margin-right: 125px;
  margin-left: 90px;
  height: 486px;
}
.slider__element-1 h2 {
  width: 400px;
  margin-bottom: 19px;
}
.slider__element-1 p {
  width: 500px;
}
.slider__element-2 {
  width: 925px;
  margin-right: 250px;
}
.slider__element-2 img {
  margin-top: 12px;
  margin-right: 139px;
  margin-left: 116px;
  height: 485px;
}
.slider__element-2 p {
  margin-top: 19px;
  width: 444px;
  margin-bottom: -3px;
}
.slider__element-3 {
  width: 925px;
  margin-right: 250px;
}
.slider__element-3 img {
  margin-top: 65px;
  margin-right: 42px;
  margin-left: 31px;
  height: 334px;
}
.slider__element-3 p {
  margin-top: 19px;
  width: 460px;
  margin-bottom: -2px;
  letter-spacing: -0.24px;
}
.slider__element-3 h2 {
  width: 520px;
}
.slider__element_inner {
  margin-right: 80px;
}
.slider__element_active {
  display: flex;
}
.slider__h2 {
  z-index: 2000;
  margin: 0;
  margin-top: 79px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.7px;
  width: 394px;
}
.slider__p {
  min-width: 440px;
  margin-top: 16px;
  margin-bottom: 0px;
  letter-spacing: -0.1px;
}
.slider__link {
  display: inline-block;
  margin-top: 52px;
  margin-bottom: 55px;
  margin-left: 43.6px;
  letter-spacing: 3.8px;
}
.table {
  display: flex;
  justify-content: space-between;
  margin-left: -3px;
}
.table__td {
  font-family: 'Gilroy', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
/* Text style for "8,5м" */
  letter-spacing: 0.36px;
  padding-bottom: 4px;
}
.table__td:not(:last-child) {
  padding-right: 73px;
}
.table__td__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
/* Text style for "Д, лина па" */
  letter-spacing: 0.13px;
}
.slider__toggle {
  position: absolute;
  top: 327px;
  left: 1000px;
  display: flex;
  width: 77px;
  justify-content: space-between;
}
.slider__button {
  background-image: url("../../src/svg/slider-button-empty.svg");
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  font: inherit;
  border: none;
  background-color: transparent;
  z-index: 100;
}
.slider__button:focus {
  outline: 0;
}
.slider__button_active {
  background-image: url("../../src/svg/slider-button.svg");
}
.categories {
  padding: 0;
  margin-top: 82px;
  display: flex;
  list-style: none;
}
.categories__image_long {
  margin-top: 40px;
}
.categories__item {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.categories__item_inner {
  display: flex;
  justify-content: center;
  background-color: #f7e296;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  transition: 300ms;
}
.categories__item_inner:hover,
.categories__item_inner:focus {
  background-color: #ffc600;
}
.categories__item_inner:active > img {
  opacity: 0.3;
}
.categories__item:not(:last-child) {
  margin-right: 40px;
}
.categories__link {
  color: #000;
  letter-spacing: 3.6px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.3px;
  width: 128px;
}
.categories__link_longer {
  width: 160px;
  letter-spacing: 0.1px;
}
.company-info {
  background-color: #e5e5e5;
  width: 100%;
}
.company-info_container {
  display: flex;
  margin-top: 181px;
}
.company-info__item:not(:nth-child(1)) {
  display: none;
}
.company-info__item {
  margin: -66px 315px 146px 115px;
  position: relative;
}
.company-info__p {
  margin-left: -2px;
  margin-top: -8px;
  letter-spacing: -0.03px;
}
.company-info__controls {
  display: flex;
  flex-direction: column;
  margin-top: -13px;
  margin-right: 137px;
  margin-left: 13px;
  position: relative;
}
.company-info__controls::before {
  content: '';
  width: 7px;
  height: 319px;
  background-color: #000;
  position: absolute;
  right: -135px;
  top: -87px;
}
.company-info__button {
  margin: 0;
  letter-spacing: 3.69px;
  transition: 0.3s;
  margin-bottom: 38px;
}
.company-info__button:focus {
  outline: none;
}
.company-info__button::before {
  left: -13px;
  background-color: #ffc600;
  top: 9px;
  width: 117%;
  transition: 0.14s;
}
.company-info__button:hover::before,
.company-info__button:focus::before {
  transform: scaleY(5);
}
.company-info__button:active::before {
  transform: scaleY(5);
  background-color: #000;
  width: 203%;
}
.company-info__button:active {
  color: #f7e184;
}
.company-info__item_delivery::after {
  content: url("../../src/svg/delivery.svg");
  position: absolute;
  top: 11px;
  right: -249px;
}
.company-info__item_credit::after {
  content: url("../../src/svg/credit.svg");
  position: absolute;
  top: 11px;
  right: -249px;
}
.company-info__item_warranty::after {
  content: url("../../src/svg/warranty.svg");
  position: absolute;
  top: 11px;
  right: -249px;
}
.partners {
  margin-top: 47px;
  margin-bottom: 51px;
}
.partners__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.partners__items {
  filter: grayscale(100%);
  opacity: 0.2;
  transition: 0.5s;
}
.partners__items:hover,
.partners__items:focus {
  opacity: 1;
  filter: grayscale(0);
}
.about {
  display: flex;
  justify-content: space-between;
}
.about__us .button {
  margin-left: 23px;
}
.about .h2 {
  margin-left: -2px;
}
.about__p {
  margin-top: 44px;
  margin-bottom: -15px;
  letter-spacing: 0.455px;
  font-weight: 300;
  line-height: 30px;
}
.about__p:nth-of-type(2) {
  width: 465px;
  letter-spacing: -0.5px;
  margin-bottom: 67px;
}
.about__contacts {
  margin-left: 134px;
}
.about__contacts .button {
  margin-left: 42px;
}
.about__contacts .button::before {
  top: 6px;
  width: 143%;
  left: -22%;
}
.about__map {
  margin-top: 53px;
  margin-bottom: 74px;
}
.about__button {
  letter-spacing: 3.55px;
}
.about__button::before {
  top: 7px;
  width: 120%;
  left: -11%;
}
.standart__ul {
  list-style: none;
  padding: 0;
  margin-left: 35px;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 62px;
}
.standart__li {
  position: relative;
}
.standart__li::after {
  content: '';
  position: absolute;
  top: 15px;
  left: -33px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
}
.catalog__header {
  padding-bottom: 0px;
  margin-bottom: 0px;
  min-height: 186px;
}
.heading_inner {
  padding-left: 59px;
  margin-top: 37px;
  margin-bottom: 46px;
}
.catalog__heading {
  letter-spacing: 0.67px;
  margin-bottom: 24px;
}
.site__bread-crums {
  display: flex;
  list-style: none;
  padding: 0;
}
.site__bread-crums__item {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: rgba(0,0,0,0.3);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.09px;
  margin-right: 34px;
  position: relative;
}
.site__bread-crums__item:hover,
.site__bread-crums__item:focus {
  color: rgba(0,0,0,0.6);
}
.site__bread-crums__item:active {
  color: rgba(0,0,0,0.1);
}
.site__bread-crums li {
  position: relative;
}
.site__bread-crums li:not(:last-child)::after {
  content: url("../../src/svg/nav-arrow.svg");
  position: absolute;
  right: 17px;
  top: 2px;
}
.catalog__filters {
  width: 200px;
  padding-right: 184px;
  margin-left: auto;
  z-index: 1000;
}
.catalog_inner {
  display: flex;
  position: relative;
}
.catalog_inner::before {
  content: '';
  width: 100%;
  background-color: rgba(0,0,0,0.08);
  height: 70px;
  position: absolute;
}
.fieldset_default {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 201px;
  box-sizing: content-box;
  padding-left: 57px;
}
.filters_block {
  padding-top: 24px;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: 67px;
}
.filters__inner {
  position: relative;
}
.filters_inner {
  width: 36.69%;
  background-color: rgba(0,0,0,0.08);
  position: relative;
}
.filters__h2 {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  display: inline-block;
  margin: 0;
  letter-spacing: 3.6px;
  margin-left: 58px;
}
.filters__heading {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.18px;
  margin-bottom: 22px;
}
.catalog__hr {
  padding: 0;
  margin: 0;
  background-color: #000;
  height: 2px;
  border: 0;
}
.filters__range::before {
  content: '';
  padding: 0;
  margin: 0;
  background-color: #000;
  position: absolute;
  height: 2px;
  width: 201px;
  border: 0;
  top: 139px;
  left: 115px;
}
.filters__range_inner {
  min-height: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  margin-bottom: 7px;
}
.range-circle {
  height: 22px;
  width: 22px;
  background: url("../../src/svg/filter-button.svg") center no-repeat;
  cursor: pointer;
  z-index: 15;
}
.circle_inner {
  display: flex;
  justify-content: space-between;
  width: 135px;
}
.range__line_inner {
  display: flex;
  justify-content: space-between;
}
.range__line {
  height: 2px;
  width: 196px;
  background-color: #dbdbdb;
}
#rangeProgress {
  z-index: 10;
  background: #91c92f;
  position: absolute;
  bottom: 60px;
  width: 110px;
  left: 22px;
}
#rangeStic {
  position: absolute;
  bottom: 60px;
  z-index: 5;
  left: 11px;
  width: 190px;
}
.rangeValue {
  color: rgba(0,0,0,0.2);
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.range__label_inner {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.filters__color {
  margin-top: 5px;
  margin-bottom: 28px;
}
.filters__color__ul {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 0;
  margin-left: 40px;
  margin-top: -2px;
  margin-bottom: 41px;
}
.filters__color__li {
  margin-bottom: 18px;
  position: relative;
}
.filters__color__checkbox::before {
  content: url("../../src/svg/checkbox-off.svg");
  position: absolute;
  left: -40px;
}
.checkbox:checked ~ .filters__color__checkbox::before {
  content: url("../../src/svg/checkbox-on.svg");
}
.filters__bluetooth {
  margin-top: -23px;
}
.filters__blue {
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  margin-left: 40px;
}
.filters__blue__li {
  margin-bottom: 18px;
  position: relative;
}
.filters__blue__radio::before {
  content: url("../../src/svg/radio-off.svg");
  position: absolute;
  left: -40px;
}
.radio:checked ~ .filters__blue__radio::before {
  content: url("../../src/svg/radio-ON.svg");
}
.filters__button {
  margin-top: 32px;
  margin-left: 150px;
}
.catalog__price {
  max-width: 768px;
  padding-left: 73px;
}
.catalog__sort {
  display: flex;
  margin-left: -172px;
  width: 290px;
  justify-content: space-between;
}
.catalog__sort_inner {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 24px;
}
.catalog__sort_order {
  display: flex;
  margin-right: 8px;
  width: 41px;
  justify-content: space-between;
  margin-top: 6px;
}
.catalog__sort__h2 {
  padding: 0;
  margin: 0;
}
.catalog__sort__item {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: rgba(0,0,0,0.3);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.09px;
  position: relative;
}
.catalog__sort__item:hover,
.catalog__sort__item:focus {
  color: #000;
}
.catalog__sort__item:active {
  color: #000;
}
.catalog__sort__item_arrow {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}
.catalog__sort__item_arrow:not(:hover):not(:focus) {
  opacity: 0.3;
}
.catalog__sort__item_arrow_top {
  background-image: url("../../src/svg/icon-up-dir.svg");
}
.catalog__sort__item_arrow_bottom {
  background-image: url("../../src/svg/icon-down-dir.svg");
}
.catalog__sort_order__item {
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
}
.catalog__products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 92px;
}
.catalog__products__item {
  margin-bottom: 46px;
  position: relative;
}
.catalog__products__item:nth-child(2n) {
  margin-left: 40px;
}
.product__name {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-decoration: none;
  color: #000;
  width: 280px;
  display: inline-block;
}
.product_hover {
  opacity: 0;
  background-color: rgba(238,238,238,0.7);
  position: absolute;
  width: 360px;
  height: 380px;
  transition: 0.5s;
  transition-delay: 0.2s;
  top: 0;
  left: 0;
}
.product_hover_inner {
  margin-top: 140px;
  margin-left: 111px;
}
.product_hover:hover,
.product_hover:focus {
  opacity: 1;
}
.product__btn {
  letter-spacing: 3.5px;
  margin-bottom: 13px;
}
.product__info {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 28px;
}
.product__compare {
  text-decoration: none;
  opacity: 0.5;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.13px;
  display: inline-block;
  margin-right: 5px;
}
.product__img {
  width: 360px;
  height: 380px;
}
.product__img_inner {
  display: inline-block;
}
.product__span {
  color: #464646;
  margin-top: -3px;
  letter-spacing: 0.65px;
  display: inline-block;
}
.catalog__navigation {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: rgba(238,238,238,0.8);
  margin-bottom: 80px;
}
.catalog__bread-crums__item {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  text-decoration: none;
  color: #000;
}
.catalog__bread-crums__item_number {
  margin-left: 20px;
  color: rgba(0,0,0,0.3);
}
.catalog__bread-crums__item_number:hover,
.catalog__bread-crums__item_number:focus {
  color: rgba(0,0,0,0.5);
}
#catalog__bread-crums__item_acive {
  color: #000;
}
.writeUs {
  display: none;
  padding: 100px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(4,6,6,0.2);
  position: fixed;
  top: calc(50% - 553px / 2);
  left: calc(50% - 960px / 2);
  z-index: 500;
  transition-delay: 0.2s;
}
.writeUs_enable {
  display: block;
  opacity: 1;
  animation-duration: 5s;
  animation: writeUs 0.4s;
}
.writeUs_inner {
  display: flex;
  justify-content: space-between;
}
.writeUs__span {
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.writeUs__span:not(:nth-child(2n)) {
  margin-right: 40px;
}
.writeUs__span_textarea {
  margin-top: 35px;
  display: block;
}
.writeUs__button {
  margin-left: 38px;
}
.writeUs_close {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;
  transition: 0.6s;
}
.writeUs_close:not(:hover):not(:focus) {
  opacity: 0.5;
}
.writeUs_close:hover,
.writeUs_close:focus {
  opacity: 1;
}
.writeUs_close:active {
  opacity: 0.3;
}
.input_text {
  background-color: rgba(238,238,238,0.5);
  padding: 20px;
  border: none;
  width: 360px;
}
.form__textarea {
  width: 769px;
  height: 156px;
  margin-top: 6px;
}
@-moz-keyframes writeUs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes writeUs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes writeUs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes writeUs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
}
.footer_wrapper {
  background-color: #464646;
  margin-top: 90px;
}
.footer_wrapper_catalog {
  margin-top: 5px;
}
.footer__logo {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffc600;
  position: absolute;
  top: 53px;
  left: -2.8px;
  letter-spacing: 0.5px;
  font-family: 'GilroyExtraBold', sans-serif;
}
.design-stick {
  color: #fff;
  margin-top: 64px;
  letter-spacing: -0.3px;
  position: relative;
}
.design-stick::after {
  content: '';
  width: 80px;
  height: 6px;
  background-color: #ffc600;
  bottom: -83px;
  position: absolute;
}
.footer__links {
  margin-top: 54px;
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.footer__links__item {
  color: #fff;
}
.footer__links__text {
  margin-left: -5px;
  padding: 0;
  list-style: none;
  font-family: gilorybold;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 428px;
  margin-top: 16px;
}
.footer__links_social {
  list-style: none;
  display: flex;
  width: 141px;
  font-size: 0;
  justify-content: space-between;
  padding: 0;
  margin-top: 46px;
  margin-right: 9px;
}
.social-media__buttons {
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: 32px 32px;
}
.footer__user {
  display: flex;
  flex-direction: column;
}
.footer__user .p__tel {
  color: #fff;
  margin-top: 63px;
  padding-left: 30px;
  letter-spacing: -0.1px;
}
.footer__user__ul {
  list-style: none;
  display: flex;
  position: absolute;
  top: 46px;
  right: -3px;
  justify-content: space-between;
  width: 302px;
  padding: 0;
}
.footer__user__ul .link {
  color: #fff;
}
.instagram {
  transform: scale(1.12) translateX(1.4px);
}
.copyright {
  margin-top: auto;
  margin-left: auto;
}
.copyright img {
  width: 35px;
  height: 35px;
}
.fb {
  background-image: url("../../src/svg/fb.svg");
}
.instagram {
  background-image: url("../../src/svg/instagram.svg");
}
.twitter {
  background-image: url("../../src/svg/twitter.svg");
}
*:focus {
  outline-color: #ffc600;
}
.meme {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  z-index: 1000000;
  transition: 0.5;
  opacity: 0;
}
.meme_on {
  display: block;
  opacity: 1;
}
.meme__text {
  animation: dgray 5s;
  display: block;
  margin-top: calc(50vh - 295px / 2);
  margin-left: calc(50vw - 295px / 2);
}
@-moz-keyframes dgray {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(3) rotate(45deg);
  }
  80% {
    transform: scale(7);
  }
  100% {
    transform: scale(0.07) rotate(190deg);
    display: none;
    opacity: 1;
  }
}
@-webkit-keyframes dgray {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(3) rotate(45deg);
  }
  80% {
    transform: scale(7);
  }
  100% {
    transform: scale(0.07) rotate(190deg);
    display: none;
    opacity: 1;
  }
}
@-o-keyframes dgray {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(3) rotate(45deg);
  }
  80% {
    transform: scale(7);
  }
  100% {
    transform: scale(0.07) rotate(190deg);
    display: none;
    opacity: 1;
  }
}
@keyframes dgray {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(3) rotate(45deg);
  }
  80% {
    transform: scale(7);
  }
  100% {
    transform: scale(0.07) rotate(190deg);
    display: none;
    opacity: 1;
  }
}
