gilroybold = 'GilroyExtraBold', sans-serif
gilroy =  'Gilroy', sans-serif
osans = 'Open Sans', sans-serif
yellow = #ffc600
leather =#f7e296
bluegray = #e5e5e5
brown = #464646
gray = #eeeeee
lightgray = #dbdbdb
green = #91c92f

.zero
    padding 0
    margin 0

simple-text()

    color #000
    font-size: 15px
    font-weight: 300
    line-height: 30px
    letter-spacing: 0.15px
    &:hover, &focus
        color rgba(black, .6)
    &:active
        color rgba(black, .3)
SimpleText()
    color #000
    font-size: 15px
    font-weight: 300
    line-height: 30px
    letter-spacing: 0.15px

   
bold-link(color = black, ls = 3.6px)
    color: color
    letter-spacing ls
    font-family gilroybold
    font-size: 18px
    font-weight: 400
    line-height: 24px
    &:hover, &focus
        opacity 0.6
    &:active
        opacity 0.3

BoldLink(color = black, ls = 3.6px)
    color: color
    letter-spacing ls
    font-family gilroybold
    font-size: 18px
    font-weight: 400
    line-height: 24px


uppercase()
    text-transform: uppercase

.container
    min-width 1160px
    box-sizing: border-box
    margin 0 auto

.visually-hidden 
  position absolute
  clip rect(0 0 0 0)
  width 1px
  height 1px
  margin -1px