.footer
    color white
    display flex
    justify-content space-between
    position relative
    padding-top 65px
    padding-bottom 65px
    &_wrapper
        background-color brown
        margin-top 90px
        &_catalog
            margin-top 5px

    &__logo
        font-size: 48px
        font-weight: 400
        text-transform: uppercase
        color: yellow
        position absolute
        top: 53px
        left -2.8px
        letter-spacing 0.5px
        font-family gilroybold
.design-stick
    color: white
    margin-top 64px
    letter-spacing -0.3px
    position relative
    &::after
        content: ''
        width 80px
        height 6px
        background-color yellow 
        bottom -83px
        position absolute
.footer__links
    margin-top: 54px
    width 415px
    display flex
    flex-direction: column
    align-items: center
    cursor: pointer
    &__item
        color white
    &__text
        
        margin-left -5px
        padding 0
        list-style none
        font-family gilorybold
        font-size: 18px
        font-weight: 400
        line-height: 24px
        text-transform: uppercase

        display flex
        justify-content space-between
        width: 428px
        margin-top: 16px
    &_social
        list-style none
        display flex
        width: 141px
        font-size: 0
        justify-content space-between
        padding: 0
        margin-top: 46px 
        margin-right: 9px
.social-media__buttons
    display block
    width 32px
    height 32px
    background-position: center
    background-size: 32px 32px

.footer__user
    display: flex
    flex-direction column
    & .p__tel
        color: white
        margin-top: 63px
        padding-left: 30px
        letter-spacing: -0.1px
    &__ul
        list-style none
        display: flex
        position: absolute
        top: 46px
        right: -3px
        justify-content: space-between
        width: 302px
        padding: 0
        & .link
            color white
    


.instagram
    transform:  scale(1.12) translateX( 1.4px)
.copyright
    margin-top: auto
    margin-left: auto
    & img
        width: 35px
        height 35px

for num in fb instagram twitter
    .{num}
        background-image: url('../../src/svg/' + num + '.svg')



