

@import 'const.styl'
@import 'typography.styl'
@import 'header.styl'

@import 'company-info.styl'
@import 'footer.styl'
    а
    



    

.p 
    font-family: osans



    


.h2 
    font-family: gilroybold
    font-size: 47px
    font-weight: 400
    line-height: 56px
