.partners
    margin-top 47px
    margin-bottom  51px
    &__list
        display flex
        list-style none
        justify-content space-between
        margin 0
        padding 0
    &__items
        filter: grayscale(100%)
        opacity .2 
        transition: .5s
        &:hover, &:focus
            opacity 1
            filter: grayscale(0)