@font-face 
    font-family: GilroyExtraBold
    src: url(../../src/fonts/web/gilroyextrabold.woff)
    src: url(../../src/fonts/web/gilroyextrabold.woff2)

@font-face  
    font-family: Gilroy
    src: url(../../src/fonts/web/gilroylight.woff)
    src: url(../../src/fonts/web/gilroylight.woff2)

body
    @extend .zero
    min-width 1160px

.container
    max-width 1160px
    margin 0 auto


.page__logo
    font-family: gilroybold
    font-size: 48px
    font-weight: 700
    line-height: 48px
    text-transform: uppercase
    margin: 0
    position: absolute
    cutsor none
    &_yellow
        color: yellow
.p 
    font-family: osans
    SimpleText()

.link
    font-family osans
    text-decoration none
    simple-text()
    &_bold
        bold-link()


.button
    BoldLink(black, 2.15px)
    uppercase()
    background-color transparent
    border 0px
    text-decoration none
    position relative
    transition: .2s
    margin-top 40px
    z-index 2
    &::before
        content: ' '
        transition: .5s
        // position absolute
        width: 160%
        height 8px
        background-color yellow
        z-index: -1
        top: 7px
        left: -30%
    &:hover::before, &:focus::before
        transform: scaleY(4)
    &:active
        color: rgba(black, .6)